[Unit]
Description=Linux Stateful Firewall Daemon (lfw)
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/lfw /etc/lfw/lfw.rules
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
Capabilities=CAP_NET_ADMIN

[Install]
WantedBy=multi-user.target
